@font-face {
    font-family: 'GothamLight';
    src : url('./font/Gotham-Black.otf')  format('truetype'),
}

* {
    margin: 0;
    padding: 0; 
}
#music-player {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
    background: url(photo/Imagine-Dragons-album-photo.jpg) ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: blur(1px);
}
.song-content {
    width: 100%;
    height: 20%;  
    font-family: "GothamLight";
    position: absolute;
    top: 15%;
    text-align: center;
    justify-content: center;
}
.song-content h4 {
   color: 	#4ac776;
   font-size: medium;
   font-weight: bold;
}
.song-content h5 {
    color: rgb(255, 255, 255);
    font-size: x-small;
 }
.song-player {
    width: 100%;
    height:30%;
    position: absolute;
    top: 75%;
    text-align: center;
    justify-content: center;
}
.song-player audio{
    width: 100%;
    height: 80%;
}
.song-control {
    width: 100%;
    height: 20%;
    position: absolute;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 45%;
    display: flex;
}
#progress {
    -webkit-appearance: none;
    width: 80%;
    height: 5%;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
   
}
#progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: rgb(0, 255, 13);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid rgb(0, 255, 34);;
    box-shadow: 0 0px 5px rgb(0, 255, 34);
   
}
.song-control div {
    width: 100%;
    height: 65%;
    align-items: center;
    text-align: center;
    border: 0;
    display: flex;  
}
#back-btn {
    width: 25%;
    height: 100%;
   
}
#back-btn img  {
    width: 100%;
    height: 100%;
}
#forward-btn {
    width: 25%;
    height: 100%;  
}
#forward-btn img  {
    width: 100%;
    height: 100%;
}
#control-play-pause {
    width: 40%;
    height: 100%;  
}
#control-play-pause img  {
    width: 60%;
    height: 130%;
    margin-left: 20px;
}

