html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cecece;
}

.container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.30rem;
}

.widget {
    background: #fff;
    border-radius: 1.3rem;
    overflow: hidden;
    position: relative;
}
